@page "/Calc"

<PageTitle>Index</PageTitle>

<h1>Calculator</h1>



<div class="outter"> <!--outter shell of calculator -->

    <form method="post">

  <div><!--total box thats going to update-->
  <label>Total</label><br>
    <input readonly @bind="@total" id='tot' > Total </input><!-- updates total-->
    </div>

  <label>Input A Number</label><br>
  <input type="text" @bind="@numberInput" id="inputN" placeholder="0"><br><!--number input boxes, binds input for atCode-->


 <!-- onclick calls the methods-->
  <input type="button" id="add" value="+" @onclick="addN">
  <input type="button" id="sub"value="-" @onclick="subN"><br>
  <input type="button" id="div" value="/" @onclick="divN"> 
  <input type="button" id="mul" value="x" @onclick="multN"><br>
  <input type="button" id="reset" value="Reset" @onclick="reset"> 
    </form> 




</div>



@code {
    
    string numberInput;
    string total;

//methods that takes total and applies the arithmetic to the total
    void addN()
    {
        total = (Convert.ToDouble(total) + Convert.ToDouble(numberInput)).ToString();
    }
    void subN()
    {
        total = (Convert.ToDouble(total) - Convert.ToDouble(numberInput)).ToString();
   
    }
    void multN()
    {
        total = (Convert.ToDouble(total) * Convert.ToDouble(numberInput)).ToString();
    }
    void divN()
    {
        if (Convert.ToDouble(numberInput) != 0)
        {
            total = (Convert.ToDouble(total) / Convert.ToDouble(numberInput)).ToString();
        }
        else
        {
            total = "Cannot Divide by Zero";
        }
    }
    void reset(){//resets the calculator
        total=" ";
        numberInput=" ";
    }
}



<style>
h1{
    display:flex;
    justify-content:center;
}

.outter{/* "outter shell casing " of calculator*/
    margin-top:2%;
    margin-right:20%;
    margin-left:20%;
    background-color:gray;
    height:650px;
    border:5px;
    border-style:solid;
    border-radius:20px;
}

form{/* displaying everything as a form so events will be efficient*/
    display:flexbox;
    flex-direction:column;
    text-align:center;
    font-size:40px;
}

#tot{/* the box that displays total*/
    background-color:lightcyan;
    height:75px;
    font-size:80px;
    display flex;
    justify-content:center;
    margin-right:5%;
    margin-left:5%;
    margin-top:3%;
    border:5px; 
    border-style:solid; 
    text-align:center;
    border-color:black;
    color:red;
    width:75%;
    
}
#inputN{/* inout box*/
    border:5px; 
    border-style:solid; 
    text-align:center; 
    width:315px; 
    height:75px;
    font-size:60px;
    color:red;
    border-color:black;
    margin-bottom:15px;

}

#add,#sub,#div,#mul{/* buttons for operations*/
    width:150px;
    height:100px;
    background-color:lightgrey;
     border:5px;
    border-style:solid;
    border-color:black;
    color:red;
    font-size:60px;
    
}

#add:hover,#sub:hover,#div:hover,#mul:hover,#reset:hover{/* buttons for operations*/
   
    background-color:black;
 
}

#div,#mul{/*space atop the division and multiplicaiton*/
    margin-top:3%;
}
#reset{
    width:450px;
    height:75px;
    margin-top:3%;
    background-color:lightgray;
    border:5px;
    border-style:solid;
     border-color:black;
    color:red;
   
}
label{
    color:red;
    font-size:30px;
}
</style>    